.project
**/.settings/**
.classpath
**/*.bak
*/target/**
target
*/test-output/**
**/~$*.xlsx
**/*.tmp
**/*.fpr
**/*.fpr.scan
**/.checkstyle
**/.pmd
**/.eclipse-pmd
**/.springBeans
/bin/
.factorypath
hs_err*
/src/main/java/META-INF/MANIFEST.MF